doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p C'est une teste
    ul
      li and this is a list
    input(type = 'text' value = 'and a box').className#anyId
    - var condition = true
    if condition
      p passed/set condition is true
    -var anyArray = [1,2,3]
    each value in anyArray
      p= value
    block content
